<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% include header.ejs %>
   <%for(var i=0;i<result.length;i++){%>
     <p><img src="/<%=result[i].advadar%>" alt=""></p>
      <p><%=result[i].username%></p>
    <%}%>
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore-noflect.js"></script>

  
</body>
</html>